In [18]:
user = 'gamal'
password = '123'

if user == 'gamal' and password == '1234':
    print ('dont match')
elif user == 'mohamed' or password == '123':
    print ('yes !!!!!!!')
if user == 'gamal' and password == '123':
    print ('great')

yes !!!!!!!
great

In [29]:
x = 0
while x < 5 :
    print ('the value of x is = ' , x)
    x +=1.5

the value of x is =  0
the value of x is =  1.5
the value of x is =  3.0
the value of x is =  4.5

In [36]:
for letter in 'python':
    if letter == 'o':
        break
    print (letter)

p
y
t
h

In [ ]:
x = 0
while x < 5:
    print ('x value is' , x )
    x += 1

In [ ]:
my_list = [1,2,3,4,5]

In [3]:
my = 'python'
for num in my :
    print (num)

p
y
t
h
o
n

In [8]:
my_list = [1,2,3,4,5,6,7,8,9]
for num in my_list:
    if num % 2 ==0 :
        print (f'od number {num}')
    print(num)

1
od number 2
2
3
od number 4
4
5
od number 6
6
7
od number 8
8
9

In [10]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list  :
    if num % 2 ==0:
        print (num)
    else:
        print(f'Odd Number = {num}')

Odd Number = 1
2
Odd Number = 3
4
Odd Number = 5
6
Odd Number = 7
8
Odd Number = 9
10

In [12]:
print (list(range(20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
print (list(range(1,20,3)))

[1, 4, 7, 10, 13, 16, 19]

In [17]:
start=int(input('Enter Start Number :'))
end = int(input('Enter End Number :'))
print ('Program Output')
print ('Number \t Square')
print ('------------------')
for start in range(start,end):
    end =start **2
    print (start,'\t',end)

Enter Start Number :5
Enter End Number :11
Program Output
Number 	 Square
------------------
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100

In [25]:
raws = int(input('ENTER NUMBER OF RAWS :'))
cols = int(input('ENTER NUMBER OF COLS :'))

for r in range (raws):
    for i in range (cols):
    
        print('*', end='')
    print()

ENTER NUMBER OF RAWS :5
ENTER NUMBER OF COLS :10
**********
**********
**********
**********
**********

In [33]:
for num in range (10):
    for i in range (num):
        print ('*', end='')
        
    print('\n')

*

**

***

****

*****

******

*******

********

*********

In [54]:
raw = int(input('enter the raw number :'))
cols = int(input('enter the cols number'))

for r in range(10):
    for c in range(20):
        print('*' , end='*')
        
    print()

enter the raw number :5
enter the cols number5
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************
****************************************

In [57]:
for raw in range(1,10):

TypeError: can only concatenate str (not "int") to str

In [68]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [70]:
#write a program theat accept number from user and reserve it 

word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
    print(word[char], end="")
print("\n")

Input a word to reverse: 2
2

In [84]:
# Write a Python program to present the Alphapet as pyramid pattern 

raw = int(input('Enter the Start Letter :'))
cols = int(input('Enter the End Point :'))

for r in range(raw):
    cols += 1
    for c in range(cols):
            print ('*',end='')

    print()

Enter the Start Letter :5
Enter the End Point :5
******
*******
********
*********
**********

In [5]:
inp = input('Enter Fahrenheit Temperature: ')
try:
    fahr = float(inp)
    cel = (fahr - 32.0) * 5.0 / 9.0
except:
    
    print('Celisious Temp is =',cel)

Enter Fahrenheit Temperature: 50.41